*{
    margin: 0; padding: 0;
}

:root{
    --background: #0F0E17;
    --primary: #FFFFFF;
    --secondary: #A0A0A0;
    --thired: #a0a0a085;
    --primaryAccent: #00CED1;
    --secondaryAccent: #F4F4F4;

}

.light {
    --background: #FFFFFF;
    --primary: #1A1A1A;
    --secondary: #555555;
    --thired: #55555530;
    --primaryAccent: #008080;
    --secondaryAccent: #EFEFEF;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.portfolio{

    padding: 10px;
    background: var(--background);
    color: var(--secondary);
}






