.light {
    --background: #FFFFFF;
    --primary: #1A1A1A;
    --secondary: #555555;
    --thired: #55555530;
    --primaryAccent: #008080;
    --secondaryAccent: #EFEFEF;
}

.competance{
    padding: 40px;
    border-bottom: 1px solid var(--primaryAccent);
}

.competance .title{
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
    color: var(--primary);
    font-weight: 500;
    
}

.competance .subTitle{
    text-align: center;
    margin-bottom: 30px;
}

.competance .selectTech{
    /* border: 1px solid red; */
    margin-bottom: 40px;
    display: flex;   
}

@media (max-width: 600px){
    .competance .selectTech{
        overflow-x: scroll;
        scrollbar-color: #00CED1 #333333;
        scrollbar-width: thin;
    }
    
    ::-webkit-scrollbar {
            width: 10px; /* Vertical scrollbar width */
            height: 10px; /* Horizontal scrollbar height */
        }
    ::-webkit-scrollbar-track {
        background: #333333; /* Dark gray background */
        border-radius: 10px;
    }
    ::-webkit-scrollbar-thumb {
        background: #00CED1; /* Bright Cyan-Blue accent color */
        border-radius: 10px;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: #00a0a3; /* Slightly darker cyan on hover */
    }

}

.competance .selectTech>div{
    border-bottom: 2px solid var(--thired);
    font-weight: 600;
    padding: 10px;
    transition: 0.3s;
}
.competance .selectTech .active, .competance .selectTech>div:hover{
    color: var(--primary);
    border-bottom: 2px solid var(--primary);
    transition: 0.3s;
    cursor: pointer;
}



.competance .content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    /* border: 1px solid red; */
    /* height: 500px; */
    position: relative;
    margin-bottom: 40px;
}

@media (max-width: 1000px){
    .competance .content{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 750px){
    .competance .content{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 550px){
    .competance .content{
        grid-template-columns: repeat(1, 1fr);
    }
}

.competance .moreBtn{
    display: flex;
    justify-content: center;
}
.competance .moreBtn button{
    padding: 8px 20px;
    font-weight: 500;
    /* border-radius: 5px; */
    border: none;
    color: var(--primary);
    background-color: var(--background);
    border: 1px solid var(--primary);
    transition: 0.3s;
}
.competance .moreBtn button:hover{
    cursor: pointer;
    transform: scale(0.95);
    transition: 0.3s;
}


.competance .content .cardCmp{
    padding: 10px;
    border: 1px solid var(--primary);
    transition: 0.5s;
    display: flex;
    flex-direction: column;
}
.competance .content .cardCmp:hover{
    transition: 0.5s;
    transform: rotateZ(-2deg) scale(1.05) ;
    box-shadow: 0px 0px 10px 1px var(--primaryAccent);
}

.competance .content .cardCmp .headerCard{
    font-weight: 500;
    color: var(--primary);
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 5px
}

.competance .content .cardCmp .headerCard .icon{
    height: 20px;
    width: 20px;
}

.competance .content .cardCmp .bodyCard{
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.competance .content .cardCmp .bodyCard .text{
    margin-bottom: 15px;
}


.competance .content .cardCmp .bodyCard .stage{
    font-weight: 500;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 60px;
    color: var(--background)
}

