.light {
    --background: #FFFFFF;
    --primary: #1A1A1A;
    --secondary: #555555;
    --thired: #55555530;
    --primaryAccent: #008080;
    --secondaryAccent: #EFEFEF;
}

.contact{
    padding: 40px;
    border-bottom: 1px solid var(--primaryAccent);
}

.contact .title{
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
    color: var(--primary);
    font-weight: 500;
}

.contact .subTitle{
    text-align: center;
    margin-bottom: 30px;
}

.contact .container{
    display: flex;
    /* border: 1px solid red; */
    padding: 40px 100px;
    justify-content: space-between;
    align-items: center;
}

.contact .container .leftSide{
    flex-basis: 40%;
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact .container .leftSide .email, 
.contact .container .leftSide .message{ 
    display:flex;
    flex-direction: column;
    gap: 10px;
}

.contact .container .leftSide label{ 
    font-size: 16px;
    font-weight: 500;
}


.contact .container .leftSide input,
.contact .container .leftSide textarea{ 
    padding: 10px;
    border: 1px solid var(--secondary);
    border-radius: 5px;
    resize: vertical;
    transition: 0.3s;
    color: var(--primary);
    background-color: var(--background);
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.contact .container .leftSide textarea{
    min-height: 200px;
}

.contact .container .leftSide input:focus,
.contact .container .leftSide textarea:focus{
    transition: 0.3s;
    outline: none;
    color: var(--background);
    background-color: var(--primary);
}


.contact .container .leftSide .sendBtn{
    padding: 8px 25px;
    border: none;
    width: fit-content;
    border-radius: 5px;
    background-color: var(--primaryAccent);
    color: var(--background);
    font-weight: 700;
}

.contact .container .leftSide .validationBlock{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
}
.contact .container .leftSide .validationBlock p{
    flex-grow: 10;
}

.contact .container .leftSide .validationAnime{
    padding: 0px;
    height: 50px;
    flex-basis: 10%;
    /* background-color: brown; */
}


.contact .container .rightSide{
    flex-basis: 40%;
    /* border: 1px solid blue; */
}

@media (max-width: 450px){
    .contact .container{
        flex-direction: column;
        padding: 40px 0px;
    }
    .contact .container .leftSide{
        width: 100%;
    }
    .contact .container .rightSide{
        display: none;    
    }
}

@media (max-width: 700px){
    .contact .container{
        flex-direction: column;
        padding: 40px 20px;
    }
    .contact .container .leftSide{
        width: 100%;
    }
    .contact .container .rightSide{
        display: none;    
    }
}

@media (max-width: 900px ){
    .contact .container{
        flex-direction: column;
    }
    .contact .container .leftSide{
        width: 80%;
    }
    .contact .container .rightSide{
        display: none;    
    }
}






