.light {
    --background: #FFFFFF;
    --primary: #1A1A1A;
    --secondary: #555555;
    --thired: #55555530;
    --primaryAccent: #008080;
    --secondaryAccent: #EFEFEF;
}

.footer{
    padding: 40px;
}

.footer .title{
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
    color: var(--primary);
    font-weight: 500;
}

.footer .subTitle{
    text-align: center;
    margin-bottom: 30px;
}