.light {
    --background: #FFFFFF;
    --primary: #1A1A1A;
    --secondary: #555555;
    --thired: #55555530;
    --primaryAccent: #008080;
    --secondaryAccent: #EFEFEF;
}

.header{
    display: flex;
    /* border: 1px solid red; */
    padding: 20px 40px 30px;
    gap: 20px;
    border-bottom: 1px solid var(--primaryAccent);
}

.header .rightSide{
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 80px;
}


.header .rightSide .title{
    font-size: 40px;
    font-weight: bold;
    color: var(--primary);
    /* margin-bottom: 10px; */
}
.header .rightSide .subTitle{
    font-size: 23px;
    font-weight: 500;
    color: var(--secondary);
    margin-bottom: 30px;
}
.header .rightSide .text{
    font-size: 16px;
    color: var(--secondary);
}


.header .rightSide .bottom {
    width: fit-content;
    position: relative;

    display: flex;
    gap: 20px;
}
.header .rightSide .bottom .downloadBtn{
    padding: 8px 15px;
    border-radius: 5px;

    background-color: var(--primaryAccent);
    color: var(--background);
    font-weight: 600;
    border: none;
    box-shadow: 0px 0px 5px 1px var(--primaryAccent);
    transition: 0.3s;
}

.header .rightSide .bottom .showBtn{
    padding: 8px 15px;
    border-radius: 5px;
    background-color: var(--background);
    color: var(--secondary);
    border: none;
    box-shadow: 0px 0px 5px 1px var(--primaryAccent);
    transition: 0.3s;
}

.header .rightSide .bottom .downloadBtn:hover,
.header .rightSide .bottom .showBtn:hover{
    transform: scale(0.95);
    transition: 0.3s;
}

.header .leftSide{
    flex-basis: 30%;
}
.header .leftSide .animation{
   width: 80%;
}










