.projects{
    padding: 40px;
}

.projects .title{
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
    color: var(--primary);
    font-weight: 500;
}

.projects .subTitle{
    text-align: center;
    margin-bottom: 30px;
}

.projects .selectTech{
    margin-bottom: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px
}
.projects .selectTech .text{
    font-weight: 500;
}

.projects .selectTech .options{
   display: flex;
   align-items: center;
   gap: 10px;
}
.projects .selectTech .icon{
    width: 30px; height: 30px;
    transition: 0.3s;
    padding: 3px;
    border-bottom: 1px solid #ffffff00;
}
.projects .selectTech .icon:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.212);
}
.projects .selectTech .options .clicked{
    transform: translateY(-5px);
    border-bottom: 1px solid #fff;
}
.projects .container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}
.projects .container .projectCard{
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid var(--primaryAccent);
}
.projects .container .projectCard .image{
    /* background-color: aqua; */
    overflow: hidden;
}
.projects .container .projectCard .image img{
    width: 100%;
    height: 100%;
}

.projects .container .projectCard .body{
    padding: 10px;
}
.projects .container .projectCard .cardTitle{
    text-align: start;
    font-size: 20px;
    font-weight: 500;
    color: var(--primary);
    margin-bottom: 8px;
}

.projects .container .projectCard .cardDescription{
    margin-bottom: 10px;
}

.projects .container .projectCard .cardTech{
    display: flex;
    gap: 5px;
}

.projects .container .projectCard .cardTech .icon{
    height: 20px;
    width: 20px;
}










